<!DOCTYPE HTML>

<html>
<head>
<title>Directors</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--  <script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script src="/searchMovie.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">

				<div style='margin: 10px 0px 20px 0px'>
					<a href="/"><button type="submit" class="btn btn-info">Home</button></a>
					<a href=""><button type="submit" class="btn btn-info">Login</button></a>
					<a href=""><button type="submit" class="btn btn-info">Registration</button></a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container" style='margin: 50px 0px 20px 200px'>

		<div id="searchMovieForm" class="row col-md-4">
			<form id="searchMovieForm" style='padding: 20px 20px 20px 20px'>
				<h4>Search Movie</h4>
				<div class="form-group">
					<label for="addMovieName">Name:</label> <input type="text"
						class="form-control" id="addMovieName" placeholder="Enter Name" />
				</div>

				<button id="tbn1" type="button" class="btn btn-success">Search</button>

			</form>
			<div id="putResultDiv" style="margin: 10px 0px 10px 0px;"></div>
		</div>
	</div>
</body>
</html>